<div class="flex flex-col items-center min-h-full bg-yellow-100">
  <!-- おみくじ結果全体だけをラップ -->
  <div class="bg-white rounded-2xl shadow-lg p-8 text-center animate-flip-in origin-top inline-block">
    <span class="text-8xl block mb-4">🦍</span>
    <h2 class="text-4xl md:text-6xl font-extrabold mb-10 <%= omikuji_color_class(@result[:result]) %>">
      <%= @result[:result] %>
    </h2>
    <div class="flex justify-center items-start">
      <div class="text-1xl sm:text-2xl md:text-3xl lg:text-4xl text-gray-700 break-words text-center [text-indent:1em] min-h-[120px] overflow-y-auto leading-snug">
        <%= simple_format(auto_linebreak(@result[:message][0])) %>
        <% if @result[:message][1].present? %>
          <span class="block mt-[2em]"><%= simple_format(auto_linebreak(@result[:message][1])) %></span>
        <% end %>
      </div>
    </div>
  </div>
  <!-- ↓アニメーションには含めない。ここから下はstatic表示-->
  <%= link_to "もう一度ウホ！", omikuji_path, data: { turbo: false }, class: "inline-block px-8 py-4 bg-green-500 hover:bg-green-600 text-white rounded-xl transition mt-16" %>
  <%= link_to "https://twitter.com/share?url=#{CGI.escape('https://goriluck-uho-mikuji.onrender.com')}&text=#{CGI.escape("今日の運勢は#{@result[:result]}でした。")}&hashtags=Goriluckウホみくじ", target: "_blank", rel: "noopener noreferrer", title: "Xでシェアする" do %>
    <i class="inline-block px-8 py-4 bg-gray-500 hover:bg-green-600 text-white rounded-xl transition mt-8 fa-brands fa-x-twitter mr-2">でシェア</i>
  <%= link_to "トップページに戻る", root_path, class: "mt-8 text-green-700 hover:underline" %>
  <% end %>
</div>