<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= meta_tags[:title] || "Myapp" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Goriluck ウホみくじ">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= display_meta_tags(default_meta_tags) %> <!-- ★ ここでデフォルト + 動的OGPをまとめて出力 -->

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script src="https://kit.fontawesome.com/9a3e5cdcbc.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-yellow-100 min-h-screen flex flex-col">
    <%= render 'shared/header' %>

    <main class="flex-1 pt-[80px] pb-[80px]">
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
